<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.1.0/material.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<meta charset="utf-8">

	</head>

	<body>

		<div class="mdl-layout">
			<header class="mdl-layout__header mdl-color--white">
	    		<div class="mdl-layout__header mdl-color--cyan mdl-typography--text-center" >
	      			<span class="mdl-layout-title "><br/>Loi Carrez : How_Not_To_Be_Fooled.com</span>
	    		</div>
	  		</header>
	  		<br/>

	  		<div class="mdl-layout__content">
		  		<div class="mdl-layout mdl-color--white mdl-grid mdl-cell--8-col mdl-typography--text-center">
					<div class="col-lg-6  mdl-grid mdl-cell--4-col">
				    	<div class="input-group">
					        <input type="text" class="form-control url" placeholder="URL coming from LeBonCoin.fr ..." id="lbcurl">
					        <span class="input-group-btn">
					        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="compute">GO !</button>
					      	</span>
					    </div>
					</div> 
				</div>
			</div>

		

			<div class="mdl-layout__content">
				<div class="mdl-grid mdl-typography--text-center" style="display:none" id="result">
					<div class="mdl-layout mdl-color--white mdl-grid mdl-cell--8-col mdl-typography--text-center" id="results">
					<div class="mdl-cell mdl-cell--4-col mdl-shadow--3dp" id="price_leboncoin">
						Prix au m2 LeBonCoin.fr : <br/>

					</div>

					<div class="mdl-cell mdl-cell--3-col mdl-shadow--3dp mdl-color--red" id="advice">
						GOOD/BAD DEAL
						<br/>
						<br/>
					</div>

					<div class="mdl-cell mdl-cell--4-col mdl-shadow--3dp" id="price_meilleursagents">
						Prix moyen au m2 de la ville recherchée : <br/>

					</div>
					</div>
				</div>

			</div>

		</div>
  	</body>







</html>